body {
  font-family: 'Roboto', sans-serif;
  background-image: url('cubes.png');
  color:rgba(0, 0, 0, 0.7);
  background-color: #57d1d327;
}

header{
  background-color: #57D0D3;
  color: #fff;
  margin: auto -16px;
  padding: 5px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  max-height: 110px;
  position: relative;
  top: -10px;
}

.inline {
  display: inline-block;
}

.headerTitle {
  position: relative;
  top: -25px;
  left: 20px;
}

button {
text-align: center;
}

.container {
  text-align: center;
}

.stepContainer {
  height: 150px;
  margin-top: 50px;
}

.slider {
  margin: auto;
}

.buttonContain {
  display: inline-block;
  padding: 0 50px;
  margin-top: 2px;
}

.productAlign {
  max-width: 90%;
  margin: 0 auto;

}

.productImage {
  position: relative;
  top: -10px;
  max-height: 140px;
  max-width: 100%;
}



.preUnits {
  font-size: 30px;
}

.units{
  font-size: 12px;
  font-style: italic;
}

.pickUp{
  position: relative;
  top: 4px;
}

.co2bike{
  position: relative;
  top: -20px;
}
.middleIcon{
  padding-top: 30px;
}