#app {
  width: 100%;
  height: 100%;
}


header {
  display: flex;
  flex-direction: column;
  background-color: #57D0D3;
  margin: auto;
  text-align: center;
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  margin: -9px -16px;
  align-items: center;
  font-size: 2.3em;

}

.logo{
  margin: 20px;
  height: 500px;
}

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-image: url('cubes.png');
  color:rgba(0, 0, 0, 0.7);
  background-color: #57d1d327;
}

.container{
  font-size: 1.5em;
}

.container-three-icons {
  display: flex;
  flex-direction: column;
}

.buttonContain{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttonContain-large{
  margin-top: 20px;
}

.slider{
 margin: auto;
 min-width: 70%;
 height: 150px;

}

.vehicle-button {
  position: relative;
  top: 500px;
}

.fuel-detail {
  display: flex;
  flex-direction: row;
}

@media (min-width: 992px) { 
 body {
  font-family: 'Roboto', sans-serif;
  background-image: url('cubes.png');
  color:rgba(0, 0, 0, 0.7);
  background-color: #57d1d327;
}

header{
  background-color: #57D0D3;
  color: #fff;
  margin: auto -16px;
  padding: 5px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  max-height: 150px;
  position: relative;
  top: -10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1em;

}

.logo {
  height: 100px;
  width: auto;
}

.headerText {
  display: flex;
  align-items: center;
}

.container-three-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.svg_icons {
  transform: scale(0.8);
}

.slider{
  margin: auto;
  min-width: 45%;
  height: 70px;
 }

 .buttonContain{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}




}


